<h1>All the cocktails</h1>
<p> <%= link_to 'Add cocktail', new_cocktail_path %> </p>
<hr>
<div class="row">
  <div class="col-8 cards">
    <ul>
      <% @cocktails.each do |c| %>
        <div class="cocktail-card">
        <li> <%= c.name %> | <%= link_to 'View cocktail', c %> | <%= link_to 'Delete cocktail', c, method: :delete %> </li>
        </div>
      <% end %>
    </ul>
  </div>
</div>


