// Import page-specific CSS files here.
@import "home";

.opening-banner{
  height: 100vh;
  align-items: baseline;
  margin: 100px 0px;
  display: flex;
    h1 {
      margin: 40px 20px;
    }
}

.opening-banner-img {
  max-width: 500px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}
